
.contacto__titulo{
    color: var(--fuente-ceniza-oscuro);
    font-size: 2rem;
    font-weight: 700;
    text-align: center;
    padding: 2rem 0;
}
.contacto__descripcion{
    color: var(--fuente-ceniza-oscuro);
    font-size: 1.2rem;
    font-weight:400;
    text-align: center;
    padding: 0 0 1rem;

}
.contacto__formulario{
    margin: 0 auto;
}
.contacto__mensaje{
    color: var(--fuente-ceniza-oscuro);
    font-size: 1.5rem;
    font-weight:400;
    text-align: center;
    padding-bottom: 3rem ;
}
.contacto__formulario{
    padding: 3rem .5rem;
    /*box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;*/
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    margin-bottom: 1rem;
}

@media screen and (min-width: 768px) {
    .contacto__formulario{
        width: 80%;
        padding: 3rem;

    }
    .contacto__mensaje{
        padding: 0 2rem 2rem;
    }
    .contacto__titulo{
        padding: 3rem;
    }
    .contacto__descripcion{
        padding: 0 2rem 1rem;
    }
}
@media screen and (min-width: 1024px) {
    .contacto__formulario{
        width: 50%;
    }
}