.footerContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--background--color-logo2);
    padding-top: 2.5rem;
    padding-bottom: 2rem;
}

.footer__social {
    display: flex;
}
.footer__social i{
    font-size: 3rem;
    color: white;
}
.footer_li{
    padding: 0;
    margin: 0;
}
.footer__navegacion {
    color: var(--background-blanco);
    font-family: var(--open-sans);
    text-align: center;
    line-height: 3;
}
.footer__enlace {
    display: inline-block;
    margin: 0 .5rem .7rem;
}
.terminos{
   background-color: var(--background-footer);
   padding: .3rem;
}
.terminoscontainer{
    text-align: center;
    color: white;
}
.terminos__enlace,
.terminos__privacidad, 
.terminos__politica {
    padding: .5rem 0;
    font-size: .7rem;
    line-height: 20px;
}
@media screen and (min-width: 1024px) {
    .footerContainer {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .footer__navegacion {
        text-align: left;
        min-width: 600px;
    }
}